
.header_mobile { display: none; }



.call {
	display: block;
	position: absolute;
    top: 0.5em;
    left: 0;
	
}

.call:after {
    background: url(/images/telephone.svg) no-repeat;
    background-position: center;
}

.call:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

.mobile_menu {
    display: block;
    position: absolute;
	top: 0.5em;
    right: 10px;
	padding: 0.5em;
    color: #000;
    font-weight: bold;
}

.mobile_menu:after {
    background: url(/images/mobile-menu-black.svg) no-repeat;
    background-position: center;
}

.mobile_menu:after {
    content: "";
    height: 30px;
    display: block;
    cursor: pointer;
}

.logo-image { width: auto; height: 50px; }
.logo_m { width: 60%; text-align: center; margin: 0 auto; }
.logo__text { display: none; }
.mm-panels>.mm-panel>.mm-listview {
    margin: 3em -20px 4em -20px!important;
}

.mm-menu { background: #efdbb1!important; color: #000!important; }
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* { color: #000!important; }

.top-mobile { display: none; margin-top: 80px; }

.top-mobile .topbar__logo, .top-mobile .topbar__b1 { width: calc( 50% - 2em ); margin: 1em; }
.top-mobile img { width: 120px }
.top-mobile .b-headwork, .top-mobile .b-headphone { padding-left: 0px; background: unset; }
.top-mobile p { padding: 0 0 5px 0; margin: 0; }

.mm-navbar .mm-title { margin: 0 1.5em; white-space: unset!important; }

@media only screen and (max-width: 980px) {
	
	.container__field, .container__page, .l-container { width: 100%; max-width: unset; min-width: unset; left: 0; }
	.container__wrapper, .container__content { left: 0; }
	.column__center-indent { margin: 0; padding: 1em; }
	.column__right, .column__left, .column__center { float: unset; }
	.l-footerbox .footerbox__wrapper { max-width: unset; min-width: unset; }
	.column .column__left { display: none; }
	
	.column__center { margin-left: auto; margin-right: auto; width: 750px; }
	.b-catalogbox-gal { margin-left: auto; margin-right: auto; width: 714px; }
	.b-catalogbox-detal .catalogbox__leftcol { float: unset; width: auto; }
	.b-catslider a.catslider__next:link, .b-catslider a.catslider__back:link { padding: 0 25px; }
	.l-grid .grid__item4 { left: 332px; }
	.b-topbar, .b-header, .b-picture2, .b-pilot, .b-basketmain { display: none; }
	.b-authmain-head { position: relative; top: unset; right: unset; text-align: center; margin-bottom: 1em; width: 100%; }
	
	.header_mobile { display: block; position: fixed; padding-top: 0.5em; padding-bottom: 0.5em; top: 0; width: 100%; z-index: 999999; background: #edcf9d; min-height: 50px;}
	
	.logo_m .b-basketmain { display: block; position: relative; top: 0px; }
	
	.column__center .cart__table tr th:nth-child(1), .column__center .cart__table tr th:nth-child(4), .column__center .cart__table tr th:nth-child(3), .column__center .cart__table tr th:nth-child(6),.column__center .cart__table tr.cart__row td:nth-child(1),.column__center .cart__table tr.cart__row td:nth-child(4), .column__center .cart__table tr.cart__row td:nth-child(3), .column__center .cart__table tr.cart__row td:nth-child(6) { display: none; }
	.column__center .cart__table tr.cart__row td:nth-child(2),.column__center .cart__table tr.cart__row td:nth-child(7){
		font-size: 12px;
	}
	.cart__table .add_line{
		display: none;
	}
	.column__center .cart__table tr.cart__row td:nth-child(5) .catalogbox__inputbox{
		display: flex;
		justify-content: center;
	}
	#callbackForm .cart__table tr th:nth-child(1),#callbackForm .cart__table tr th:nth-child(2), #callbackForm .cart__table tr th:nth-child(5), #callbackForm .cart__table tr.cart__row td:nth-child(1), #callbackForm .cart__table tr.cart__row td:nth-child(2), #callbackForm .cart__table tr.cart__row td:nth-child(5) { display: none; }
	
	.b-cart th, .b-cart td { padding: 3px; }
	
	.top-mobile { display: flex; }
	.b-basketmain-head { margin: auto; }
	
	.column p img, .catalogbox__img img {  width: auto!important; height: auto!important; max-width: 100%!important; }
	.b-catalogbox-detal .catalogbox__imgbox { width: 100%; height: auto; }
	#callbackForm { width: 100%!important; }
	.bx-viewport { height: 300px!important; }
	.bx-wrapper img { width: auto; height: 300px!important; } 
	
	.b-path li, .b-path ul { display: inline; }
	.form__inputwrap p { display: block; width: 100%; }
	.b-form .form__label-left .form__label { float: unset; }
	.top-mobile .topbar__logo { text-align: center; }
} 

@media only screen and (max-width: 780px) {
	
	.column__center { width: 100%; }
	.b-catalogbox-gal { width: 100%; }
	.b-catalogbox-gal .catalogbox__item { width: 45%; }
	.bx-viewport { height: 280px!important; }
	.bx-wrapper img { height: 280px!important; } 
	
}

@media only screen and (max-width: 740px) {
	
	.l-footerbox { position: relative; }
	.l-footerbox-stop { display: none; }
	.l-grid .grid__item1,.l-grid .grid__item2,.l-grid .grid__item3,.l-grid .grid__item4 {
		
		position: relative;
		left: 0;
		top: 0;
		width: 90%;
		margin: 1em auto;
		height: auto;
		
	}
	.l-grid { height: auto; }
	.grid__item3 p { text-align: left!important; }
	
}

@media only screen and (max-width: 700px) {

	.bx-viewport { height: 250px!important; }
	.bx-wrapper img { height: 250px!important; } 
	.table_line td { display: block; border: 0; }
	.top-mobile .topbar__logo, .top-mobile .topbar__b1 { width: calc( 100% - 2em ); margin: 1em; }
	
}

@media only screen and (max-width: 500px) {

	.b-catalogbox-gal .catalogbox__item { width: 95%; }
	.top-mobile { display: block; }
	.top-mobile .topbar__logo, .top-mobile .topbar__b1 { width: calk( 100% - 2em );; margin: 1em; text-align: center; }
	.b-form .form__col-1-3 { width: 100%; }
	.b-form .form__label-left .form__inputwrap { margin-left: 0px;padding-left: 0px; }
	
	.bx-viewport { height: 150px!important; }
	.bx-wrapper img { height: 150px!important; } 
	
}

@media only screen and (max-width: 350px) {

	.bx-viewport { height: 120px!important; }
	.bx-wrapper img { height: 120px!important; } 
	
}
.features-wrap.features-wrap-hidden{
	display: none;
}
.features-wrap{
	padding: 40px 0;
}
.features-wrap .features{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 20px 0 0;
   box-sizing: border-box;
   flex-wrap: wrap;
}
.features-wrap .features-item{
   /* padding: 20px; */
   text-align: center;
   width: 25%;
	   display: flex;
	   box-sizing: border-box;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.features-wrap .features-item .ico{
   background: #e7cbaa;
   padding: 15px;
   width: 84px;
   box-sizing: border-box;
   height: 84px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.features-wrap  .features-item .ico:before{
	content: '';
    display: block;
	width: 100%;
	background-size: contain;
	height: 100%;
	background-repeat: no-repeat;
    background-position: center;
}
.features-wrap  .features-item .ico-coin:before{
	background-image: url(/images/features/coin.png);
}
.features-wrap  .features-item .ico-shopping-bag:before{
	background-image: url(/images/features/shopping-bag.png);
}
.features-wrap  .features-item .ico-shopping-basket:before{
	background-image: url(/images/features/shopping-basket.png);
}
.features-wrap  .features-item .ico-cashier-machine:before{
	background-image: url(/images/features/cashier-machine.png);
}
.features-wrap .features .title{
   font-weight: bold;
   padding: 10px 5px;
   font-size: 14px;
}