.main-popup-bs-wrap{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
}
.main-popup-bs-wrap .popup-shadow-bs{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    /* z-index: 100; */
    top: 0;
    background: #00000078;
    
}
.main-popup-bs-wrap *{
    box-sizing: border-box;
}
.popup-bs-padding-wrap{
    width: 800px;
    text-align: center;
    height: 320px;
    padding: 20px;
    z-index: 1000;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 24px; */
    top: 0;
    margin: auto;
 
}
.popup-bs-wrap{
    background: #fff9f9;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    position: relative;
    height: 100%;
    width: 100%;
}
.popup-bs-wrap .close-btn{

    width: 24px;
    position: absolute;
    right: -12px;
    background: #2d2d2d;
    border-radius: 50%;
    top: -12px;
    height: 24px;
    /* position: relative; */
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;

}
.popup-bs-wrap .close-btn svg{
    width: 12px;
    height: 12px;
    fill: #fff;
    left: 6px;
    top: 6px;
    position: absolute;
    transition: .4s;
}

.popup-bs-wrap .close-btn:hover svg{
    transform: rotate(180deg);
}
.popup-bs-wrap .popup-row-bs{
    display: flex;
    height: 100%;
    align-items: center;
}

.popup-bs-wrap .popup-row-bs>div{
    flex: 1;
}
.popup-col-bs{
    padding: 24px;
}
.popup-col-img{
    height: 100%;
    
    background-image: url(https://kuban24.tv/wp-content/uploads/2020/03/3956bd890746395a0e1474dde8d48373_XL.jpg);
    background-size: cover;
    background-position: center;
    padding: 24px;

}


.phone-bs{
    text-align: center;
    margin-top: 24px;
    transition: .4s;
}

.phone-bs:hover{
    transform: scale(1.1);
}
.phone-bs a{
    
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none!important;
}
#modal-bs{
    /* display: none; */
}
.noscroll{
    overflow: hidden!important;
}
.title-bs{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 12px;
}
.title-bs span{
    
    color: #b93822;
    

}
.subtitle-bs{
    
    color: #00000091;
    line-height: 1.5;
    font-weight: bold;

}

.subtitle-bs span{
    
    color: #b93822;
    font-weight: bold;

}

@media screen and (max-width: 640px){
    .popup-bs-padding-wrap{
        height: 500px;
        text-align: center;
    }   
    .popup-bs-wrap .popup-row-bs{
        flex-direction: column;
    }
    .popup-col-img{
        width: 100%;
    }
}